h2 Question page

h4 Title: #{@question.title}
h4 Body:  #{@question.body}

h4 Answers:
table
  tbody class="answers"
    = render 'answers'

p = render 'answers/form', question: @question, answer: @question.answers.new

p = link_to 'Back', questions_path
