// Place all the styles related to the Questions controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_question {
  display: none;
}

#new_question {
  display: none;
}

.display-4 {
  font-size: 2.5rem;
}

.jumbotron .btn-sm {
  margin: 3px;
}

.badge .badge-light {
  margin-left: 4px;
}

.subscriptions {
  margin-top: 5px;
}

.search-form {
  margin-top: 10px;
}
